*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f5f7fb;
}

/* HEADER */

.topbar{
display:flex;
justify-content:space-between;
padding:15px 60px;
background:#fff;
}

.logo{
font-size:28px;
font-weight:bold;
color:#1d2b6b;
}

.info span{
margin-left:20px;
color:#1d2b6b;
}

nav{
background:#1d2b6b;
display:flex;
justify-content:space-between;
padding:15px 60px;
color:white;
}

nav ul{
display:flex;
gap:30px;
list-style:none;
}

nav input{
padding:6px 10px;
border-radius:20px;
border:none;
}

/* HERO */

.hero{
text-align:center;
padding:100px 20px;
}

.hero h4{
color:#3c7cff;
letter-spacing:2px;
}

.hero h1{
font-size:36px;
margin:10px 0;
color:#1d2b6b;
}

.hero p{
max-width:600px;
margin:auto;
color:#555;
}

.hero button{
margin-top:20px;
padding:10px 25px;
background:#3c7cff;
color:white;
border:none;
border-radius:20px;
}

/* DOCTOR IMAGE */

.doctor-img img{
width:70%;
display:block;
margin:40px auto;
border-radius:10px;
}

/* SERVICES */

.services{
text-align:center;
padding:60px 20px;
}

.service-container{
display:flex;
justify-content:center;
gap:40px;
margin-top:40px;
}

.service{
background:white;
padding:30px;
width:250px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.service i{
font-size:30px;
color:#3c7cff;
margin-bottom:10px;
}

/* CHECK */

.check{
display:flex;
justify-content:center;
gap:50px;
padding:60px;
background:#e9eef9;
}

.form{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
}

.form textarea{
grid-column:span 2;
height:80px;
}

.form button{
grid-column:span 2;
background:#1d2b6b;
color:white;
border:none;
padding:10px;
}

/* NEWS */

.news{
text-align:center;
padding:60px 20px;
}

.news-container{
display:flex;
justify-content:center;
gap:30px;
margin-top:30px;
}

.news-card{
width:250px;
background:white;
padding:10px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.news-card img{
width:100%;
border-radius:10px;
}

/* CONTACT */

.contact{
padding:60px 20px;
text-align:center;
}

.contact-box{
display:flex;
justify-content:center;
gap:30px;
margin-top:30px;
}

.box{
background:#1d2b6b;
color:white;
padding:30px;
width:200px;
border-radius:10px;
}

/* FOOTER */

footer{
background:#1d2b6b;
color:white;
padding:40px;
}

.footer-container{
display:flex;
justify-content:space-around;
}

.copy{
text-align:center;
margin-top:20px;
}
